<p id="notice"><%= notice %></p>

<h1>SHOUTS</h1>

<table>
  <thead>
    <tr>
      <th>Yells</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.shouts.each do |shouts| %>
      <tr>
        <td><%= shouts.yell %>
        <br>
        <%= link_to 'Edit', edit_user_shout_path(@user, shouts) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New SHOUTS', new_user_shout_path(@user)  %>
<%= console %>