<div class="user-header"><%= @user.username.upcase %>'S SHOUTS</div>
  
  <% @user.shouts.each do |shouts| %>
    <%= shouts.yell %> 
    <div class="shout-links">
      <%= link_to 'Edit', edit_user_shout_path(@user, shouts) %>
      <%= link_to 'Delete', user_shout_path(@user, shouts), method: :delete %>
    </div>
<br>
<br>
<% end %>
<br>
<br>
    <div class="info">
    <b><%= "Followers:" %></b>
    <% @user.followers.each do |x| %>
        <%= "#{x.username} " %>
        <% end %>
        <br>
<%= link_to 'Back', :root %> | <%= link_to 'New SHOUTS', new_user_shout_path(@user)  %>
</div>